:root {
  --beige: #F2EBDB;
  --white: #FFFFFF;
  --green: #3B755F;
  --gray: #B0B0B0;
  --dark-gray: #212121;
  --light-gray: #F9F9F9;
  --lime-green: #AFC6BD;
  --dark-green: #254000;
}

.product {
    font-family: "Cabin", sans-serif;
    padding: 36px;
    border-radius: 8px;
    background-color: var(--light-gray);
    width: 851px;
    height: 419px;
    margin: auto;
    box-shadow: 0px 0.7777777910232544px 2.9907407760620117px 0px #00000003,
      0px 3.422222137451172px 6.192592620849609px 0px #00000005,
      0px 8.399999618530273px 12.350000381469727px 0px #00000006,
      0px 16.177778244018555px 24.207406997680664px 0px #00000008,
      0px 27.22222137451172px 44.50925827026367px 0px #0000000A,
      0px 42px 76px 0px #0000000D;
}

.product h3 {
    font-weight: 700;
    line-height: 36px;
    font-size: 30px;
    margin: 0 0 12px 0;
}

.product hr {
    background-color: var(--gray);
    height: 2px;
    border: none;
    margin: 0;
}

.widgets-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 20px;
}

@media (max-width: 800px) {
  .product {
    width: 326px;
    height: 100%;
  }

  .widgets-container {
        flex-direction: column;
        gap: 42px;
    }
}
